html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  text-align: center;
}

.container {
  margin: 0 auto;
  width: 80%;
  border: 1px solid hsl(0, 0%, 82%);
  border-radius: 4px;
  box-shadow: 0 30px 60px -30px hsla(0, 0%, 0%, 0.5);
  padding: 2%;
  background-color: hsl(0, 0%, 100%);
  margin-bottom: 2%;
}

.form-field {
  display: flex;
  flex-flow: column wrap;
  align-content: center;
}

label {
  width: 100%;
  font-weight: 700;
  margin-bottom: 2%;
}

input[type='text'],
input[type='email'],
input[type='password'] {
  width: 100%;
  height: 3em;
  border: 0.1em solid hsl(0, 0%, 87%);
  border-radius: 4px;
  text-indent: 0.5em;
  margin-top: 2%;
  margin-bottom: 2%;
}

input[type='checkbox'] {
  margin-bottom: 4%;
}

button {
  background-color: transparent;
  width: 100%;
  height: 2.5em;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 4px;
}

@media (min-width: 770px) {
  .container {
    width: 40%;
  }
}
