html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background-color: #ff0072;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  text-align: center;
  color: white;
}

.title {
  font-size: 1.8rem;
  text-align: center;
  border-bottom: 1px solid hsl(0, 0%, 87%);
}

.container {
  margin: 0 auto;
  width: 80%;
  border: 1px solid hsl(0, 0%, 82%);
  border-radius: 4px;
  box-shadow: 0 30px 60px -30px hsla(0, 0%, 0%, 0.5);
  padding: 2%;
  background-color: hsl(0, 0%, 100%);
  margin-bottom: 2%;
}

.friend-container {
  width: 100%;
  margin: 0 auto;
  border: 2px solid #ddd;
  border-radius: 4px;
  padding: 2%;
  margin-bottom: 2%;
}

.form-field {
  display: flex;
  flex-flow: column wrap;
  align-content: center;
}

label {
  width: 100%;
  font-weight: 700;
  margin-bottom: 2%;
}

input[type='text'],
input[type='email'],
input[type='password'],
select {
  width: 100%;
  height: 3em;
  border: 0.1em solid hsl(0, 0%, 87%);
  border-radius: 4px;
  text-indent: 0.5em;
  margin-top: 2%;
  margin-bottom: 2%;
}

input[type='checkbox'] {
  margin-bottom: 4%;
  vertical-align: -2px;
  width: 5%;
}

button {
  color: #ff0072;
  background-color: transparent;
  width: 100%;
  height: 2.5em;
  font-size: 1.2rem;
  cursor: pointer;
  outline: none;
  border: 3px solid #ff0072;
  border-radius: 4px;
  text-transform: uppercase;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease-out;
}

button:hover {
  background-color: #ff0072;
  color: hsl(0, 0%, 100%);
  box-shadow: 0 8px 6px -6px hsla(0, 0%, 0%, 0.3);
}

.errors {
  margin: 8px;
  font-size: 0.7em;
  color: red;
}

@media (min-width: 770px) {
  h1 {
    font-size: 2rem;
  }
  .container {
    width: 40%;
  }
}
